<style>
    @media only screen and (max-width: 639px) {
        .manage_user_model_title{
            display: inline-block;
            width: 100%;
            button{
                float: right;
                margin-top: 20px;
            }
        }

        #addNewUserModel{
            .modal-content{
                width: 90%;
                height: 80%;
                form{
                    .form-column-container{
                        display: flex;
                        flex-direction: column;
                        gap: 0px;

                        div{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
</style>
<!-- Manage User Modal -->
<div id="manageUserModel" class="fixed flex inset-0 bg-gray-600 bg-opacity-50 hidden justify-center items-center z-50">
    <div class="modal-content bg-white p-6 rounded-lg w-[90%] h-[80%] max-h-screen overflow-auto shadow-xl">
        <!-- Close Button -->
        <div class="text-right">
            <button onclick="closeManageUserModel()" class="text-gray-500 hover:text-gray-700 text-lg">&times;</button>
        </div>

        <!-- Modal Header -->
        <div class="flex justify-between items-center mb-6 manage_user_model_title">
            <h2 class="text-3xl font-semibold text-center text-blue-600">Manage Users</h2>
            <button onclick="openAddNewUserModel()"
                    class="bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
                Add New User
            </button>
        </div>

        <!-- User List -->
        <div class="overflow-auto">
            <table class="min-w-full table-auto">
                <thead class="bg-gray-200">
                <tr class="[&>th]:whitespace-nowrap">
                    <th class="px-4 py-2 text-left text-lg font-medium text-gray-700">Name</th>
                    <th class="px-4 py-2 text-left text-lg font-medium text-gray-700">User Name</th>
                    <th class="px-4 py-2 text-left text-lg font-medium text-gray-700">Financial Year</th>
                    <th class="px-4 py-2 text-left text-lg font-medium text-gray-700">Role</th>
                    <th class="px-4 py-2 text-left text-lg font-medium text-gray-700">Status</th>
                    <th class="px-4 py-2 text-left text-lg font-medium text-gray-700">Target</th>
                    <th class="px-4 py-2 text-left text-lg font-medium text-gray-700">Achieved</th>
                    <th class="px-4 py-2 text-left text-lg font-medium text-gray-700">Balance To Go</th>
                    <th class="px-4 py-2 text-left text-lg font-medium text-gray-700">Designation</th>
                    <th class="px-4 py-2 text-left text-lg font-medium text-gray-700">Manager</th>
                    <th class="px-4 py-2 text-left text-lg font-medium text-gray-700">Actions</th>
                </tr>
                </thead>
                <tbody>
                <% allUserDetails.forEach(userDetal => { %>
                    <tr class="[&>td]:whitespace-nowrap hover:bg-gray-100]">
                        <td class="px-4 py-2 text-gray-700"> <%- userDetal.name ? userDetal.name : '-' %> </td>
                        <td class="px-4 py-2 text-gray-700"> <%- userDetal.username ? userDetal.username : '-' %></td>
                        <td class="px-4 py-2 text-gray-700"> <%- userDetal.financial_year ? userDetal.financial_year: "-" %></td>
                        <td class="px-4 py-2 text-gray-700"> <%- userDetal.role ? userDetal.role : "-" %> </td>
                        <td class="px-4 py-2 text-gray-700"><span
                                    class="<%- userDetal.status === 'Active' ? 'bg-green-800 py-1 px-2 rounded-lg text-white' : 'bg-red-700 py-1 px-2 rounded-lg text-white' %>"> <%- userDetal.status %> </span>
                        </td>
                        <td class="px-4 py-2 text-gray-700">  <%- userDetal.business_target !== null ?  userDetal.business_target : "-" %> </td>
                        <td class="px-4 py-2 text-gray-700">  <%- userDetal.achieved_till_date !== null ?   userDetal.achieved_till_date : "-" %> </td>
                        <td class="px-4 py-2 text-gray-700">  <%- userDetal.balance_to_go !== null ?   userDetal.balance_to_go : "-" %> </td>
                        <td class="px-4 py-2 text-gray-700"> <%- userDetal.designation ? userDetal.designation : "-" %> </td>
                        <td class="px-4 py-2 text-gray-700"> <%- userDetal.sales_manager ? userDetal.sales_manager : "-" %> </td>
                        <td class="px-4 py-2 text-gray-700">
                            <button data-user='<%- JSON.stringify(userDetal) %>' onclick="openEditUserModel(this)"
                                    class="text-blue-600 hover:text-blue-800">Edit
                            </button>
                            <button onclick="deleteUser(<%- userDetal.id %>)"
                                    class="text-red-600 hover:text-red-800 ml-2">Delete
                            </button>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Add New User Modal -->
<div id="addNewUserModel" class="fixed flex inset-0 bg-gray-600 bg-opacity-50 hidden justify-center items-center z-50">
    <div class="modal-content bg-white p-6 rounded-lg w-[60%] h-[60%] max-h-screen overflow-auto shadow-xl">
        <!-- Close Button -->
        <div class="text-right">
            <button onclick="closeAddNewUserModel()" class="text-gray-500 hover:text-gray-700 text-lg">&times;</button>
        </div>

        <!-- Add New User Header -->
        <h2 class="text-3xl font-semibold text-center text-blue-600 mb-6">Add New User</h2>

        <!-- Form for Adding New User -->
        <form action="/addNewUser" method="POST">
            <div class="flex flex-col">
                <div class="form-column-container flex gap-5">
                    <div class="mb-4 w-1/3">
                        <label for="newName" class="block text-lg font-medium text-gray-800">Full Name</label>
                        <input type="text" id="newName" name="newName"
                               class="mt-2 p-2 w-full border border-gray-300 rounded-md shadow-sm focus:ring-2 focus:ring-blue-500"
                               placeholder="Bhuwan Pandey" required/>
                    </div>
                    <div class="mb-4 w-1/3">
                        <label for="newUserName" class="block text-lg font-medium text-gray-800">User Name</label>
                        <input type="text" id="newUserName" name="newUserName"
                               class="mt-2 p-2 w-full border border-gray-300 rounded-md shadow-sm focus:ring-2 focus:ring-blue-500"
                               placeholder="bhuwan@gmail.com" required/>
                    </div>
                    <div class="mb-4 w-1/3">
                        <label for="newPassword" class="block text-lg font-medium text-gray-800">Password</label>
                        <input type="password" id="newPassword" name="newPassword"
                               class="mt-2 p-2 w-full border border-gray-300 rounded-md shadow-sm focus:ring-2 focus:ring-blue-500"
                               placeholder="********" required/>
                    </div>
                </div>
                <div class="form-column-container flex gap-5">
                    <div class="mb-4 w-1/3">
                        <label for="newUserRole" class="block text-lg font-medium text-gray-800">Role</label>
                        <select id="newUserRole" name="newUserRole"
                                class="mt-2 p-2 w-full border border-gray-300 rounded-md shadow-sm focus:ring-2 focus:ring-blue-500"
                                required>
                            <option value="1">Admin</option>
                        </select>
                    </div>
                    <div class="mb-4 w-1/3">
                        <label for="newUserStatus" class="block text-lg font-medium text-gray-800">Status</label>
                        <select id="newUserStatus" name="newUserStatus"
                                class="mt-2 p-2 w-full border border-gray-300 rounded-md shadow-sm focus:ring-2 focus:ring-blue-500"
                                required>
                            <option value="1">Active</option>
                            <option value="2">Inactive</option>
                        </select>
                    </div>

                </div>

                <div class="mt-6 flex justify-center">
                    <button type="submit"
                            class="bg-blue-600 text-white py-2 px-6 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
                        Add User
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Edit User Modal -->
<div id="editUserModel" class="fixed flex inset-0 bg-gray-600 bg-opacity-50 hidden justify-center items-center z-50">
    <div class="modal-content bg-white p-6 rounded-lg w-[60%] h-[80%] max-h-screen overflow-auto shadow-xl">
        <!-- Close Button -->
        <div class="text-right">
            <button onclick="closeEditUserModel()" class="text-gray-500 hover:text-gray-700 text-lg">&times;</button>
        </div>

        <!-- Edit User Header -->
        <h2 class="text-3xl font-semibold text-center text-blue-600 mb-6">Edit User</h2>
        <div class="flex w-full items-center justify-end">
            <button id="change-password-btn" class="px-4 py-2 rounded-lg text-white bg-red-700 hover:bg-red-600"
                    onclick="openPasswordChangeModal()" data-change-password="null">Change Password
            </button>
        </div>

        <!-- Form for Editing User -->
        <form action="/editUserDetails" method="POST">
            <input type="hidden" id="editUserId" name="userId" value="0">
            <div class="flex flex-col">
                <div class="flex gap-5">
                    <div class="mb-4 w-1/2">
                        <label for="editName" class="block text-lg font-medium text-gray-800">Full Name</label>
                        <input type="text" id="editName" name="editName"
                               class="mt-2 p-2 w-full border border-gray-300 rounded-md shadow-sm focus:ring-2 focus:ring-blue-500"
                               placeholder="Bhuwan Pandey" required/>
                    </div>
                    <div class="mb-4 w-1/2">
                        <label for="editUserName" class="block text-lg font-medium text-gray-800">User Name</label>
                        <input type="text" id="editUserName" name="editUserName"
                               class="mt-2 p-2 w-full border border-gray-300 rounded-md shadow-sm focus:ring-2 focus:ring-blue-500 bg-gray-200 text-gray-500 cursor-not-allowed"
                               placeholder="bhuwan@gmail.com" readonly required/>
                    </div>
                </div>
                <div class="flex gap-5">
                    <div class="mb-4 w-1/2">
                        <label for="editUserRole" class="block text-lg font-medium text-gray-800">Role</label>
                        <select id="editUserRole" name="editUserRole"
                                class="mt-2 p-2 w-full border border-gray-300 rounded-md shadow-sm focus:ring-2 focus:ring-blue-500 bg-gray-200 text-gray-500 cursor-not-allowed"
                                disabled
                                required>
                            <option value="1">Admin</option>
                            <option value="2">User</option>
                        </select>
                    </div>
                    <div class="mb-4 w-1/2">
                        <label for="editUserStatus" class="block text-lg font-medium text-gray-800">Status</label>
                        <select id="editUserStatus" name="editUserStatus"
                                class="mt-2 p-2 w-full border border-gray-300 rounded-md shadow-sm focus:ring-2 focus:ring-blue-500"
                                required>
                            <option value="1">Active</option>
                            <option value="2">Inactive</option>
                        </select>
                    </div>
                </div>
                <div class="flex gap-5">
                    <div class="mb-4 w-1/2">
                        <label for="editFinancialYear" class="block text-lg font-medium text-gray-800">Financial
                            Year</label>
                        <input type="date" id="editFinancialYear" name="editFinancialYear"
                               class="mt-2 p-2 w-full border border-gray-300 rounded-md shadow-sm focus:ring-2 focus:ring-blue-500 bg-gray-200 text-gray-500 cursor-not-allowed"
                               readonly
                        />
                    </div>

                    <div class="mb-4 w-1/2">
                        <label for="editBusinessTarget" class="block text-lg font-medium text-gray-800">Business
                            Target</label>
                        <input type="text" id="editBusinessTarget" name="editBusinessTarget"
                               class="mt-2 p-2 w-full border border-gray-300 rounded-md shadow-sm focus:ring-2 focus:ring-blue-500 bg-gray-200 text-gray-500 cursor-not-allowed"
                               readonly
                               placeholder=" &#x20b9; ___.00"/>
                    </div>
                </div>
                <div class="flex gap-5">
                    <div class="mb-4 w-1/2">
                        <label for="editAchievedTillDate" class="block text-lg font-medium text-gray-800">Achieved Till
                            Date</label>
                        <input type="text" id="editAchievedTillDate" name="editAchievedTillDate"
                               class="mt-2 p-2 w-full border border-gray-300 rounded-md shadow-sm focus:ring-2 focus:ring-blue-500 bg-gray-200 text-gray-500 cursor-not-allowed"
                               readonly
                               placeholder=" &#x20b9; ___.00"/>
                    </div>
                    <div class="mb-4 w-1/2">
                        <label for="editBalanceToGo" class="block text-lg font-medium text-gray-800">Balance To
                            Go</label>
                        <input type="text" id="editBalanceToGo" name="editBalanceToGo"
                               class="mt-2 p-2 w-full border border-gray-300 rounded-md shadow-sm focus:ring-2 focus:ring-blue-500 bg-gray-200 text-gray-500 cursor-not-allowed"
                               readonly
                               placeholder=" &#x20b9; ___.00"/>
                    </div>
                </div>
                <div class="flex gap-5">
                    <div class="mb-4 w-1/2">
                        <label for="editDesignation" class="block text-lg font-medium text-gray-800">Designation and
                            Role</label>
                        <input type="text" id="editDesignation" name="editDesignation"
                               class="mt-2 p-2 w-full border border-gray-300 rounded-md shadow-sm focus:ring-2 focus:ring-blue-500 bg-gray-200 text-gray-500 cursor-not-allowed"
                               readonly
                               placeholder="Data Admin"/>
                    </div>
                    <div class="mb-4 w-1/2">
                        <label for="editSalesManager" class="block text-lg font-medium text-gray-800">Sales
                            Manager</label>
                        <input type="text" id="editSalesManager" name="editSalesManager"
                               class="mt-2 p-2 w-full border border-gray-300 rounded-md shadow-sm focus:ring-2 focus:ring-blue-500 bg-gray-200 text-gray-500 cursor-not-allowed"
                               readonly
                               placeholder=" Ram Prashad"/>
                    </div>
                </div>

                <div class="mt-6 flex justify-center">
                    <button type="submit"
                            class="bg-blue-600 text-white py-2 px-6 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
                        Save Changes
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- SVG Logo (Tabler) -->
<svg xmlns="http://www.w3.org/2000/svg" class="hidden" id="logoIcon" viewBox="0 0 24 24" width="24" height="24">
    <path fill="none" d="M0 0h24v24H0z"/>
    <path d="M12 2L2 7l2 1.5L9 9v6H5V9L12 5l7 4v6h-4V9l5-2.5L22 7l-10-5z"/>
</svg>




<script>
    const totalTargetElement = document.getElementById("editBusinessTarget");
    const achievedTillDateElement = document.getElementById("editAchievedTillDate");
    const balanceToGo = document.getElementById("editBalanceToGo");

    function updateBalanceToGo() {
        const totalTarget = parseFloat(totalTargetElement.value) || 0;
        const achievedTillDate = parseFloat(achievedTillDateElement.value) || 0;

        const balance = totalTarget - achievedTillDate;

        balanceToGo.value = isNaN(balance) ? 0 : balance;
    }

    totalTargetElement.addEventListener("input", updateBalanceToGo);
    achievedTillDateElement.addEventListener("input", updateBalanceToGo);

    balanceToGo.addEventListener("focus", updateBalanceToGo);

</script>